#paragraph {
    height: 48px !important;
    width: 982px;
    left: 200px;
}

#main {
    top: -244px;
    font-size: 50.988px;
}

#parag {
    top: 230px;
    font-size: 24px;
}

@media only screen and (max-width:425px) {
    #Dev-menu {
        display: none;
    }
    #page1{
        height: 177vh;
    }
    #main {

        font-size: 19.988px;
        height: 129px;
    }

    #parag {
        top: 230px;
        font-size: 19px;
        width: 325px;
        height: 227px;
        left: 27px;
    }
    #big-image{
        left: 0px;
        height: 110px !important;
        width: 100vw !important;
        top: 599px !important;
    }
    #main1{
        top: 641px !important;
        z-index: 10000;
        position: absolute;
    }
    #paragraph{
        height: 93px !important;
    width: 348px;
    left: 23px;
    font-size: 19px!important;
    position: absolute !important;
    top: 777px !important;
    z-index: 1000000;
    }
    #img1{
        left: 43px !important;
    width: 364px !important;
    position: absolute;
    top: 880px;
    height: 298px;
    }
    #img2{
        left: -79px !important;
    width: 453px !important;
    position: absolute;
    top: 1197px;
    height: 329px;
    }

    #img3{
      
    left: -86px !important;
    width: 434px !important;
    position: absolute;
    top: 1552px;
    height: 329px;

    }


}